.header{
    width: 100%;
    background-color:rgb(94, 171, 243); 
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex; 
    align-items: center; 
}

#Layer_1{
    height: 64px;
    width: 64px;
}