<div class="modal-content">
    <span (click)="close()"class="close">&times;</span>
    <div>
        <h3>Please Confirm Your Seats</h3>
        <div>
            Seats selected:<span *ngFor="let item of childData.seats;let i=index">{{item+1}}<span *ngIf="i!==childData.seats.length-1">,</span></span>
        </div>
    </div>
    <div>
        <label>Name:</label>
        <input type="text" [(ngModel)]="childData.name">
    </div>
    <div>
        <label>Mobile Number:</label>
        <input type="text" [(ngModel)]="number" [pattern]="mobNumberPattern"  #mobNumber="ngModel" maxlength="10">
    </div>
    <div *ngIf="mobNumber.errors">
            <div class="error" *ngIf="mobNumber.errors.pattern">  
                Mobile number not valid.  
            </div>
    </div>
    <button class="button">Confirm</button>

</div>
